<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<script crossorigin src="lib/react.production.min.js"></script>
<script crossorigin src="lib/react-dom.production.min.js"></script>
<script crossorigin src="lib/babel.min.js"></script>
</head>
<body>
<div id="root"></div>
<script type="text/babel">
ReactDOM.render(<h1>Đây là reactjs</h1>, document.getElementById('root'));
</script>
</body>
</html>